<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/contacts.css">
  <link rel="canonical" href="https://inter-alfa.com.ua/contacts">
	<link rel="shortcut icon" href="images/favicon.png">
 <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
	<meta name="description" content="Ищите сетки для фильтра, скважин, просеивания, ульев и производственных потребностей? Звоните по телефону — +380677113896. Контакты, адреса склада, офиса, электронная почта досутпны здесь.">
	<title>Нужна сетка? — Звони нам! | «Интер-Альфа» </title>


	<style>

/**/
</style>

</head>


<body>
<header id="header" class="container">
	<h1 id="headerText"><strong>ООО "Интер-Альфа"</strong></h1>
	<hr  style="background-color: #F0FFFF; color: #F0FFFF; width: 57%; height: 2px;border: none;">
	<a href="/"> <img  id="logo" src="/images/logo.png" alt="logo"></a>
	<div id="box" class="container">
		<a id="clink" href="/contacts" ><h5><i>г. Кривой Рог, ул. Сичеславская, 10</i></h5></a>
		<a id="clink" href="" ><h5><i>тел.(056) 401-28-07, (067) 711-38-96, тел./факс (056) 405-46-16</i></h5></a>
		<a id="clink" href="mailto:interalfa7@gmail.com"><h5><i> E-mail: interalfa7@gmail.com</i></h5></a>
	</div>
  <ul id="ul1">
  <li id="li1"><a href="/"><i class="fasfa-home"></i></a></li>
  <li id="li1"><a href="/cart"><i class="fasfa-shopping-cart"></i></a></li>
  <li id="li1"><a href="/contacts"><i class="fasfa-phone"></i></a></li>
  <li id="li1"><a href="/goods"><i class="fasfa-store"></i></a></li>
</ul>
	<ul class="mobileNav">
		<li>
			<a href="/">
				<i class="fasfa-home"></i>
			</a>
		</li>
		<li>
			<a href="/contacts#map">
				<i class="fasfa-map-marker-alt"></i>
			</a>
		</li>
		<li>
			<a href="tel:+380677113896">
				<i class="fasfa-phone"></i>
			</a>
		</li>
		<li>
			<a href="mailto:interalfa7@gmail.com">
				<i class="fasfa-envelope-open-text"></i>
			</a>
		</li>
	</ul>
	<div class="tab">
		<a href="tel:+380677113896">
           <span class="tabPhone">
           </span>
		</a>

		<a href="mailto:interalfa7@gmail.com">
        <span class="tabMail">
        </span>
		</a>

		<a href="/contacts">
        <span class="tabAdr">
        </span>
		</a>
	</div>
</header>

<ul class="sidebar">
<li><a href="/goods" ><p class="pr" ><strong>Продукция :</strong></p> </a></li>
<li><p class="nrz" ><strong><i>Сетка нержавеющая :</strong></i></p> </li>
<li><a href="/production?id=1" class="lia" ><i>— микронных размеров</i></a></li>
<li><a href="/production?id=2" class="lia"><i>— тканая</i></a></li>
<li><p class="fltr"><strong><i>Сетка фильтровая :</strong></i></p> </li>
<li><a href="/production?id=3" class="lia"><i>— нержавеющая</i></a></li>
<li><a href="/production?id=4" class="lia"><i>— низкоуглеродистая</i></a></li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=5"><strong><i>Сетка сварная нержавеющая</strong></i></a></p> </li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=6"><strong><i>Сетка латунная, бронзовая, никелевая</strong></i></a></p> </li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=7"><strong><i>Сетка тканая низкоуглеродистая</strong></a></i></p> </li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=8"><strong><i>Сетка тканая оцинкованая</strong></i></a></p> </li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=9"><strong><i>Сетка сварная оцинкованая</strong></i></a></p> </li>
  <!-- <li><p style="font-size: 16px;padding: 2px 16px"><strong>ГОСТ и ТУ</strong></p></li> -->
  <li><p style="font-size: 15px;padding: 2px 16px"><strong><a id="href" href="/contacts"> Контакты и доставка</a></strong></p></li>
  <li><p style="font-size: 15px;padding: 2px 16px"><strong><a id="href" href="/price">Прайс-лист</a></strong></p></li>
  <li><p style="font-size: 15px;padding: 2px 16px"><strong><a id="href" href="/gost">ГОСТ и ТУ</a></strong></p></li>

</ul>



<p class="contName" ><strong><i>Контактная информация :</i></strong></p>



<div id="l">
	<p><strong>Телефоны  компании:</strong></p>
	<hr  style="background-color: black; color: #F0FFFF; width: 90%; height: 1px;border: none;">
	<img src="/images/contacts/l.png" alt="">
	<a href="tel:+38 (056) 401-28-07"><br><br>+38 (056) 401-28-07<br></a>
	<a href="tel:+38 (067) 711-38-96">+38 (067) 711-38-96<br></a>
	<a href="tel:+38 (050) 488-10-61">+38 (050) 488-10-61<br></a>
</div>	
<div id="l2"><p><strong>E-mail и Facebook:</strong></p>
	<img src="/images/contacts/l21.png" alt="">
	<a href="mailto:interalfa7@gmail.com">interalfa7@gmail.com<br><br><br></a>
	<hr  style="background-color: black; color: #F0FFFF; width: 90%; height: 1px;border:none;">
	<img id="l22" src="/images/contacts/l22.png" alt="">
	<a href=""><br>facebook.com/interalfa</a>
</div>
<div id="l2mob"><p><strong>E-mail и Facebook:</strong></p>
	<a href="mailto:interalfa7@gmail.com">interalfa7@gmail.com<br></a>
	<hr  style="background-color: black; color: #F0FFFF; width: 90%; height: 1px;border:none;">
	<a href="">facebook.com/interalfa</a>
</div>
<div id="l3"><p><strong>Адрес компании:</strong></p>
	<img src="/images/contacts/l31.png" alt="">
	<a href="">г. Кривой Рог, ул. Сичеславская 10</a>
	<hr  style="background-color: black; color: #F0FFFF; width: 90%; height: 1px;border:none; margin-top: 14px;">
	<p><strong>Адрес склада:</strong></p>
	<img src="/images/contacts/l32.png" alt="">
	<a href="#map">г. Кривой Рог, ул. Старовокзальная 4а/1</a>
	
</div>

<span class="mobText">Местоположение склада:</span>

<div id="map">
	<div id="maptext">
		<p style="padding-top: 10px;"><strong><i>Местоположение склада :</i></strong> </p>
	</div>
		<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1259.042430709444!2d33.34375770919683!3d47.894006134444986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDfCsDUzJzM4LjQiTiAzM8KwMjAnNDIuMiJF!5e1!3m2!1sru!2sua!4v1559390925698!5m2!1sru!2sua" width="1000" height="506.5" frameborder="0" style="border:0;" allowfullscreen></iframe>
</div>

<div class="mapMob">
	<div class="mapText">
		<p><strong><i>Местоположение склада :</i></strong></p>
	</div>
	<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1259.042430709444!2d33.34375770919683!3d47.894006134444986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDfCsDUzJzM4LjQiTiAzM8KwMjAnNDIuMiJF!5e1!3m2!1sru!2sua!4v1559390925698!5m2!1sru!2sua" width="270" height="300" frameborder="0" style="border:0;" allowfullscreen></iframe>
</div>
<div class="mapTab">
	<div class="mapTextTab">
		<p><strong><i>Местоположение склада :</i></strong></p>
	</div>
	<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1259.042430709444!2d33.34375770919683!3d47.894006134444986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDfCsDUzJzM4LjQiTiAzM8KwMjAnNDIuMiJF!5e1!3m2!1sru!2sua!4v1559390925698!5m2!1sru!2sua" width="570" height="400" frameborder="0" style="border:0;" allowfullscreen></iframe>
</div>



<p class="delName" ><strong><i>Инфомация о доставке :</i></strong></p>


<div id="delivery">
	<p ><strong >Способы доставки:</strong><br>

<br><i>Самовывоз:</i><br>
Самовывоз  возможен из нашего склада расположенного по адресу:<br>
-  г. Кривой Рог, ул. Старовозокзальная 4а/1<br>


<br><i>Доставка транспортными компаниями</i><br>
-  Новая Почта<br>
-  Интайм<br>
-  САТ<br>
-  Деливери<br>
-  Автотранссервис (Днепр, Харьков)<br>


<br>Отгрузка транспортными компаниями осуществляется  в течении 1-2 рабочих дней после получения оплаты.<br>

<br><strong>Отгрузка небольших партий товара возможна в день заказа, если оплата поступила до 12-00.</strong>
</p>
</div>


<div id="np">
	<img src="/images/contacts/intime.jpg" alt="Интайм">
	<p id="npp"><i>"Интайм"<br>Срок доставки 1-3 дня</i></p>
</div>
<div id="del">
	<img src="/images/contacts/delivery.png" alt="Деливери">
	<p id="delp"><i>"Деливери"<br>Срок доставки 1-3 дня</i></p>
</div>
<div id="it">
	<img src="/images/contacts/novaposhta.jpeg" alt="Нова Пошта">
	<p id="itp"><i>"Нова Пошта"<br>Срок доставки 1-2 дня</i></p>
</div>

<div id="sat">
	<img src="/images/contacts/SAT.jpg" alt="САТ">
	<p id="satp"><i>"CАТ"<br>Срок доставки 1-3 дня</i></p>
</div>
<div id="av">
	<img src="/images/contacts/autot.jpg" alt="Автовокзал">
	<p id="avp"><i>Автотранссервис<br>(Днепр,Харьков) доставка 0-1 день</i></p>
</div>




	
</body>
</html>
