html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        link(rel='stylesheet', href='css/main.css')
        link(rel="canonical", href="https://inter-alfa.com.ua/goods")
        meta(name='description', content='Сетки под разлчичные потребности по доступным ценам. Широкий асортимент и разные сферы применения : от фильтрования до строительства. Заказывайте онлайн.')
        script(src='js/goods.js')
        link(rel='shortcut icon', href='images/favicon.png')
        link(href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet")
        title Продукция | Интер-Альфа
        include google.html
    body
        include header
        include mobSidebar
        include sidebar
            div.goodsId
