<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet"> 
  <link rel="canonical" href="https://inter-alfa.com.ua/gost">
  <link rel="stylesheet" href="/css/gost.css">
  <link rel="shortcut icon" href="images/favicon.png">
 <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
	<title>ГОСТ и ТУ |"Интер-Альфа"</title>


	<style>
</style>

</head>

<body>
	<header id="header" class="container">
	<h1 id="headerText"><strong>ООО "Интер-Альфа"</strong></h1>
	<hr  style="background-color: #F0FFFF; color: #F0FFFF; width: 57%; height: 2px;border: none;">
	<a href="/"> <img  id="logo" src="/images/logo.png" alt="logo"></a>
	<div id="box" class="container">
		<a id="clink" href="/contacts" ><h5><i>г. Кривой Рог, ул. Сичеславская, 10</i></h5></a>
		<a id="clink" href="/contacts" ><h5><i>тел.(056) 401-28-07, (067) 711-38-96, тел./факс (056) 405-46-16</i></h5></a>
		<a id="clink" href="mailto:interalfa7@gmail.com"><h5><i> E-mail: interalfa7@gmail.com</i></h5></a>
	</div>
  <ul id="ul1">
  <li id="li1"><a href="/"><i class="fasfa-home"></i></a></li>
  <li id="li1"><a href="/cart"><i class="fasfa-shopping-cart"></i></a></li>
  <li id="li1"><a href="/contacts"><i class="fasfa-phone"></i></a></li>
  <li id="li1"><a href="/goods"><i class="fasfa-store"></i></a></li>
</ul>
<ul class="mobileNav">
        <li>
          <a href="/">
            <i class="fasfa-home"></i>
          </a>
        </li>
        <li>
          <a href="/contacts#map">
            <i class="fasfa-map-marker-alt"></i>
          </a>
        </li>
        <li>
          <a href="tel:+380677113896">
            <i class="fasfa-phone"></i>
          </a>
        </li>
        <li>
          <a href="mailto:interalfa7@gmail.com">
            <i class="fasfa-envelope-open-text"></i>
          </a>
        </li>
</ul>
  <div class="openBar">
      <button><i class="fasfa-bars"></i></button>
  </div>
  <button class="closeBar">x</button>

      <div class="tab">
        <a href="tel:+380677113896">
           <span class="tabPhone">
           </span>
        </a>

        <a href="mailto:interalfa7@gmail.com">
        <span class="tabMail">
        </span>
        </a>

        <a href="/contacts">
        <span class="tabAdr">
        </span>
        </a>
      </div>
</header>



<p class="NTD" ><strong><i>Перечень<br>нормативно-технической документации:</i></strong></p>

<div id="content">
<table id="table">
  <tr>
    <th>НТД</th>
    <th>Наименование НТД</th>
    <th>Тип сетки</th>
     <th>Материал</th>
      <th>Тип переплетения</th>
  </tr>
  <tr>
    <td><a href="GOST/g2715-75" target="_blank"><strong>ГОСТ 2715-75</strong> </a></td>
    <td>Сетки металлические проволочные. Типы, основные параметры и размеры.</td>
    <td colspan="3">Описание существующих сеток, их типы, основные параметры и размеры</td>
  </tr>
  <tr>
    <td><a href="GOST/g3187-76" target="_blank"><strong>ГОСТ 3187-76</strong></a></td>
    <td>Сетки проволочные тканые фильтровые. Технические условия.</td>
    <td>тканая</td>
    <td>н/у сталь, нерж.сталь</td>
    <td>полотняное, саржевое</td>
  </tr>
  <tr>
    <td><a href="GOST/g3306-88" target="_blank"><strong>ГОСТ 3306-88</strong></a></td>
    <td>Сетки тканые из предварительно рифленой проволоки. Технические условия.</td>
    <td>тканая</td>
    <td>углеродистая,н/у и нерж.сталь</td>
    <td>полотняное</td>
  </tr>
  <tr>
    <td><a href="GOST/g3826-82" target="_blank"><strong>ГОСТ 3826-82</strong></a></td>
    <td>Сетки проволочные тканые с квадратными ячейками. Технические условия.</td>
    <td>тканая</td>
    <td>н/у сталь, нерж.сталь </td>
	<td>полотняное</td>
  </tr>
  <tr>
    <td><a href="GOST/g5336-80" target="_blank"><strong>ГОСТ 5336-80</strong></a></td>
    <td>Сетки стальные плетеные одинарные. Технические условия.</td>
    <td>плетеные</td>
    <td>н/у сталь</td>
    <td>одинарное плетение</td>
  </tr>
  <tr>
    <td><a href="GOST/g6613-86" target="_blank"><strong>ГОСТ 6613-86</strong></a></td>
    <td>Сетки проволочные тканые с квадратными ячейками. Технические условия.</td>
    <td>тканая</td>
    <td>латунь, бронза, никель</td>
    <td>полотняное, саржевое</td>
  </tr>
  <tr>
    <td><a href="GOST/ty14-4-507-99" target="_blank"><strong>ТУ 14-4-507-99</strong></a></td>
    <td>Сетка тканая с квадратными ячейками микронных размеров. Технические условия.</td>
    <td>тканая</td>
    <td>нерж.сталь</td>
    <td>полотняное, саржевое</td>
  </tr>
  <tr>
    <td><a href="GOST/ty1276-001-38279335-2012" target="_blank"><strong>ТУ 1276-001-38279335-2012</strong></a></td>
    <td>Сетка сварная. Технические условия.</td>
    <td>сварная</td>
    <td>—</td>
    <td>—</td>
  </tr>
  <tr>
    <td><a href="GOST/ty1276-002-38279335-2013" target="_blank"><strong>ТУ 1276-002-38279335-2013</strong></a></td>
    <td>Сетки с квадратными ячейками из нержавеющей рифленой проволоки. Технические условия.</td>
    <td>тканая</td>
    <td>нерж.сталь</td>
    <td>полотняное</td>
  </tr>
  <tr>
    <td><a href="GOST/ty1276-003-38279335-2013" target="_blank"><strong>ТУ 1276-003-38279335-2013</strong></a></td>
    <td>Проволочные тканые сетки. Технические условия.</td>
    <td>тканая</td>
    <td>н/у сталь, нерж.сталь, латунь, бронза</td>
    <td>саржевое, полотняное</td>
  </tr>
  <tr>
    <td><a href="GOST/ty25-93-13-004-38279335-2017" target="_blank"><strong>ТУ 25.93.13-004-38279335-2017</strong></a></td>
    <td>Сетки металлические покрытые эпоксидной смолой. Технические условия.</td>
    <td>тканая</td>
    <td>н/у сталь</td>
    <td>полотняное</td>
  </tr>
</table>
</div>





















    <script src="/js/mobJs.js"></script>

</body>



</html>
