<header id="header" class="container">
    <h1 id="headerText"><strong>ООО "Интер-Альфа"</strong></h1>
    <hr  style="background-color: #F0FFFF; color: #F0FFFF; width: 57%; height: 2px;border: none;">
    <a href="/"> <img  id="logo" src="/images/logo.png" alt="logo"></a>
    <div id="box" class="container">
        <a id="clink" href="/contacts" ><h5><i>г. Кривой Рог, ул. Сичеславская, 10</i></h5></a>
        <a id="clink" href="/contacts" ><h5><i>тел.(056) 401-28-07, (067) 711-38-96, тел./факс (056) 405-46-16</i></h5></a>
        <a id="clink" href="mailto:interalfa7@gmail.com"><h5><i> E-mail: interalfa7@gmail.com</i></h5></a>
    </div>
    <ul id="ul1">
        <li id="li1"><a href="/"><i class="fas fa-home"></i></a></li>
        <li id="li1"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
        <li id="li1"><a href="/contacts"><i class="fas fa-phone"></i></a></li>
        <li id="li1"><a href="/goods"><i class="fas fa-store"></i></a></li>
    </ul>
    <ul class="mobileNav">
        <li>
            <a href="/">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li>
            <a href="/contacts#map">
                <i class="fas fa-map-marker-alt"></i>
            </a>
        </li>
        <li>
            <a href="tel:+380677113896">
                <i class="fas fa-phone"></i>
            </a>
        </li>
        <li>
            <a href="mailto:interalfa7@gmail.com">
                <i class="fas fa-envelope-open-text"></i>
            </a>
        </li>
    </ul>
    <div class="tab">
        <a href="tel:+380677113896">
           <span class="tabPhone">
           </span>
        </a>

        <a href="mailto:interalfa7@gmail.com">
        <span class="tabMail">
        </span>
        </a>

        <a href="/contacts">
        <span class="tabAdr">
        </span>
        </a>
    </div>
</header>