<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/all.css">
    <script src="/js/all.js"></script>
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="canonical" href="http://inter-alfa.com.ua/">
    <meta name="description" content="Купить сетку оптом и в розницу. Город Кривой Рог, доставка по всей Украине. Сетка для любых потребностей — фильтровая, строительная, нержавеющая. Заказывай онлайн! Доступная цена и быстрая доставка в любой регион.">
 <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
 <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Покупайте сетку онлайн у нас. Быстро и удобно. | «Интер-Альфа» </title>


	<style>

/**/
</style>

</head>
<body>
<header id="header" class="container">
	<h1 id="headerText"><strong>ООО "Интер-Альфа"</strong></h1>
	<hr  style="background-color: #F0FFFF; color: #F0FFFF; width: 57%; height: 2px;border: none;">
	<a href="/"> <img  id="logo" src="/images/logo.png" alt="logo"></a>
	<div id="box" class="container">
		<a id="clink" href="/contacts" ><h5><i>г. Кривой Рог, ул. Сичеславская, 10</i></h5></a>
		<a id="clink" href="/contacts" ><h5><i>тел.(056) 401-28-07, (067) 711-38-96, тел./факс (056) 405-46-16</i></h5></a>
		<a id="clink" href="mailto:interalfa7@gmail.com"><h5><i> E-mail: interalfa7@gmail.com</i></h5></a>
	</div>
  <ul id="ul1">
  <li id="li1"><a href="/"><i class="fas fa-home"></i></a></li>
  <li id="li1"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
  <li id="li1"><a href="/contacts"><i class="fas fa-phone"></i></a></li>
  <li id="li1"><a href="/goods"><i class="fas fa-store"></i></a></li>
</ul>
    <ul class="mobileNav">
        <li>
            <a href="/">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li>
            <a href="/contacts#map">
                <i class="fas fa-map-marker-alt"></i>
            </a>
        </li>
        <li>
            <a href="tel:+380677113896">
                <i class="fas fa-phone"></i>
            </a>
        </li>
        <li>
            <a href="mailto:interalfa7@gmail.com">
                <i class="fas fa-envelope-open-text"></i>
            </a>
        </li>
    </ul>
    <div class="tab">
        <a href="tel:+380677113896">
           <span class="tabPhone">
           </span>
        </a>

    <a href="mailto:interalfa7@gmail.com">
        <span class="tabMail">
        </span>
    </a>

    <a href="/contacts">
        <span class="tabAdr">
        </span>
    </a>
    </div>
</header>



<ul class="sidebar">
<li><a href="/goods" > <p class="pr" ><strong>Продукция :</strong></p> </a></li>
<li><p class="nrz" ><strong><i>Сетка нержавеющая :</strong></i></p> </li>
<li><a href="/production?id=1" class="lia"><i>— микронных размеров</i></a></li>
<li><a href="/production?id=2" class="lia"><i>— тканая</i></a></li>
<li><p class="fltr" ><strong><i>Сетка фильтровая :</strong></i></p> </li>
<li><a href="production?id=3" class="lia"><i>— нержавеющая</i></a></li>
<li><a href="production?id=4" class="lia"><i>— низкоуглеродистая</i></a></li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="production?id=5"><strong><i>Сетка сварная нержавеющая</strong></i></a></p> </li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="production?id=6"><strong><i>Сетка латунная, бронзовая, никелевая</strong></i></a></p> </li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="production?id=7"><strong><i>Сетка тканая низкоуглеродистая</strong></a></i></p> </li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="production?id=8"><strong><i>Сетка тканая оцинкованая</strong></i></a></p> </li>
<li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="production?id=9"><strong><i>Сетка сварная оцинкованая</strong></i></a></p> </li>
  <!-- <li><p style="font-size: 16px;padding: 2px 16px"><strong>ГОСТ и ТУ</strong></p></li> -->
  <li><p style="font-size: 15px;padding: 2px 16px"><strong><a id="href" href="/contacts"> Контакты и доставка</a></strong></p></li>
  <li><p style="font-size: 15px;padding: 2px 16px"><strong><a id="href" href="/price">Прайс-лист</a></strong></p></li>
  <li><p style="font-size: 15px;padding: 2px 16px"><strong><a id="href" href="/gost">ГОСТ и ТУ</a></strong></p></li>

</ul>



<div>
    <div class="carousel">
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="/images/slider/carousel1.jpg">
                    <div class="center"><strong><i>Более 25 лет<br> на рынке сеток</i></strong></div>
                </div>
                <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                      <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="/images/slider/carousel3.jpg">
                    <div class="center"><strong><i>Уникальная возможность заказа онлайн</i></strong></div>
                </div>
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="/images/slider/carousel2.jpg">
                    <div class="center"><strong><i>Доставка по всей Украине</i></strong></div>
                </div>
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
            </div>
        </ul>
    </div>
</div>



<div id="miniText" class="box">
    <p style="padding-top: 12px; color: #ffe47a;"><strong><i>О компании : </i></strong></p>
</div>



<div id="textAbout" class="box">
	<h4 style="padding-top: 12px;padding-left: 6px"><i>Компания    ООО "Интер-Альфа" -  основана в 1993 году,  на протяжении более 25 лет
        мы занимаемся импортом и продажей широкого ассортимента металлических сеток:<br>
        - тканых нержавеющих;<br>
        - тканых низкоуглеродистых;<br>
        - тканых оцинкованных;<br>
        - латунных;<br>
        - фильтровых для скважин;<br>
        - сварных оцинкованных (штукатурных);<br>
        - тканых низкоуглеродистых покрытых эпоксидной смолой.<br>

        <br>Большой опыт работы сотрудников, персональный подход к каждому клиенту, ответственность, строгое соблюдение принимаемых на себя обязательств заслужило доверие наших постоянных клиентов и, мы надеемся, будет оценено Вами.<br>

        <br>КАЧЕСТВО ПОСТАВЛЯЕМЫХ НАМИ СЕТОК, <u>по нашему мнению</u>, лучшее на рынке Украины.  Предлагаем Вам удостовериться в этом.
    </i>
    </h4>
</div>


</body>
</html>