ul(class='mobSideB')
    li
        a(href='/cart')
            img(src='/images/minCart.png')
            span Корзина
    li
        a(href='/goods')
            img(src='/images/shop.png')
            span Продукция
    li
        a(href='/contacts')
            img(src='/images/phone.png')
            span Контакты
    li
        a(href='/gost')
            img(src='/images/gost.png')
            span ГОСТ
    li
        a(href='/price' target='_blank')
            img(src='/images/price.png')
            span Прайс
