<ul class="sidebar">
    <li><a href="/goods"><p class="pr"><strong>Продукция :</strong></p></a></li>
    <li><p class="nrz" ><strong><i>Сетка нержавеющая :</strong></i></p> </li>
    <li><a href="/production?id=1" class="lia"><i>— микронных размеров</i></a></li>
    <li><a href="/production?id=2" class="lia"><i>— тканая</i></a></li>
    <li><p class="fltr" ><strong><i>Сетка фильтровая :</strong></i></p> </li>
    <li><a href="/production?id=3" class="lia"><i>— нержавеющая</i></a></li>
    <li><a href="/production?id=4" class="lia"><i>— низкоуглеродистая</i></a></li>
    <li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=5"><strong><i>Сетка сварная нержавеющая</strong></i></a></p> </li>
    <li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=6"><strong><i>Сетка латунная, бронзовая, никелевая</strong></i></a></p> </li>
    <li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=7"><strong><i>Сетка тканая низкоуглеродистая</strong></a></i></p> </li>
    <li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=8"><strong><i>Сетка тканая оцинкованая</strong></i></a></p> </li>
    <li><p style="font-size: 14px;padding: 2px 20px"><a id="href1" href="/production?id=9"><strong><i>Сетка сварная оцинкованая</strong></i></a></p> </li>
    <!-- <li><p style="font-size: 16px;padding: 2px 16px"><strong>ГОСТ и ТУ</strong></p></li> -->
    <li><p style="font-size: 15px;padding: 2px 16px"><strong><a  id="href" href="/contacts"> Контакты и доставка</a></strong></p></li>
    <li><p style="font-size: 15px;padding: 2px 16px"><strong><a id="href" href="/price" target="_blank">Прайс-лист</a></strong></p></li>
    <li><p style="font-size: 15px;padding: 2px 16px"><strong><a id="href" href="/gost">ГОСТ и ТУ</a></strong></p></li>

</ul>