ul(class='tabBar')
    li
        a(href='tel:+380677113896')
            i(class='fas fa-phone')
    li
        a(href='mailto:interalfa7@gmail.com')
            i(class='fas fa-envelope-open-text')
    li
        a(href='/contacts')
            i(class='fas fa-map-marker-alt')