html,body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: #778899;
}


.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;




}

.table td, .table th {
    border-bottom: 1px solid #ddd;
    padding: 2px;

}
.table a {
    text-decoration: none;
    color: black;
}
.table tr {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: darkslategrey;
    color: white;
}
.table th img {
    position: relative;
    width: 40px;
    left: 5%;
}
.table th img:hover {
    width: 350px;
}


.modal-toggle {
    position: relative;
    left: 40%;
    width: 300px;
    font-size: 1.6rem;
    font-weight: bold;
    background: lightgreen;
    color: white;
    padding: 10px 20px;
    border: 2px grey;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
}
.modal-toggle:hover {
    background: lightblue;
}
.modal-toggle:active {
    background: red;
}

.modal {
    position: fixed;
    z-index: 1;
    top: 2.5%;
    left: 2.5%;
    display: none;
    width: 95%;
    height: 95%;
    background: navajowhite;
    overflow: visible;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    cursor: default;
    opacity: 0.6;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

input[type=text] {
    width: 97%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-bottom: 5px;
    background: lightslategrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

input[type=text]:hover {
    background: cadetblue;
}

select {
    width: 97%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-bottom: 5px;
    background: lightslategrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select:hover {
    background: cadetblue;
}

label {
    float: left;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px aliceblue;
    /*margin-left: 30px;*/
}

.modal-close {
    position: relative;
    margin-top: 10px;
    left: 96%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 2px grey;
    width: 30px;
    border-radius: 40px;
    background: lightcoral;
}
.send-email {
    width: 250px;
    font-size: 30px;
    font-weight: bold;
    background: lightseagreen;
    border: 2px grey;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 42%;
    top: 20px;

}
.send-email:hover {
    background: darkcyan;
}
#comment {
    width: 97%;
    height: 100px;
    text-align: left;
    padding: 1px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-bottom: 5px;
    background: lightslategrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#comment:hover {
    background: cadetblue;
}

.sweetA {
    text-decoration: none;
    color: green;
    font-weight: bold;

}


#header {
    width: 100%; height: 145px;
    background: url(/images/header.jpg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
}

#fb {
    width: 1px;height: 10px;
    color: blue;
    margin-left: 35%;
    margin-top: -1%;
    display: block;
}
#ihome {
    width: 10px;height: 20px;
    color: blue;
    margin-left: 40%;
    margin-top: -0.7%;
    display: block;
}
#fba {
    text-decoration: none;
    text-shadow: 1px 1px #444;
}

#logo {
    width: 150px; height: 100px;
    margin-top: -5.5%; margin-left: 3.5%
}
#headerText {

    text-align: center;
    font-size: 70px;
    text-shadow: 1px 1px #444;
    color: #ffe47a;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;

}
#miniText{
    width: 25%;
    height: 70px;
    margin-top: 7%;
    font-size: 37px;
    margin-left: 50%;
    text-shadow: 1px 1px #444;
    text-align: center;
    border: 2px grey;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #000000;
}
#textAbout {
    width: 75.5%;
    height: 390px;
    margin-left: 23.5%;
    margin-top: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Courgette', cursive;
    background-color: transparent;
}

#box {
    width: 220px; height: 100px;
    margin-left: 83%; margin-top: -10%;

}

#clink {
    color: #F0FFFF;
    text-decoration: none;
}
#clink a:hover {
    opacity: 0.1;
}
#href {
    font-size: 15px;
    padding: 1px 0px;
    color: black;
}
#href1 {
    font-size: 14px;
    padding: 1px 0px;
    color: black;
}

#ul1 {
    display: block;
    background:inherit;
    list-style-type: none;
    margin-left: 39%;
    margin-top: -1%;
    padding: 0;
    overflow: hidden;
    height: 30px;
    width: 300px;
    position: relative;
    border: 2px grey;
    border-radius: 12px;
}

#li1 {
    float: left;
    margin-left: 7%;

}

#li1 a {
    display: block;
    color: #F0FFFF;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    margin-left: 5%;
}

#li1 a:hover {
    background-color: #111;
}


ul {
    display: none;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    width: 0;
    background: url('/images/navbar.jpg');
    border: 2px;
    border-top-right-radius: 18px;

    /*background: linear-gradient(to bottom, #536976, #292e49);*/
    /*background: linear-gradient(to right, #606c88, #3f4c6b);*/
    /*background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);*/

    height: 100%;
    position: fixed;
    overflow: auto;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
    font-family: 'Libre Baskerville', serif;
    z-index: 1

}

li a {
    display: block;
    color: black;
    padding: 0px 24px;
    font-size: 12px;
    text-decoration: none;
    margin-top: -4px;


}

li a:hover {
    background-color: grey;
    color: white;
}

.total {
    position: relative;
    width: 200px;
    left: 85%;
}
.total h2 {
    width: 200px;
    color: white;
}


.alternative {
    display: none;
    width: 600px;
    margin: 80px auto;
    text-align: center;
}
.alternative h1 {
    color: #ffe47a;
    text-shadow: 1px 1px darkgrey;
}
.alternative button {
    margin: 10px auto;
    background: cornflowerblue;
    width: 180px;
    height: 40px;
    border: 2px grey;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    font-weight: bold;
}

.alternative button:hover {
    background: cyan;
}
.mobSideB {
    display: none;
    position: fixed;
    top: 3%;
    background: url("/images/header.jpg");
    list-style-type: none;
    padding: 0;
    overflow: visible;
    width: 70px;
    height: 370px;
    border: 2px grey;
    border-radius: 36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: height 0.2s, box-shadow 0.2s;
}
.mobSideB img {
    width: 25px;
    justify-content: left;
}
.mobSideB span {
    position: relative;
    display: block;
    top: 10px;
    right:20px;
    animation: slideIn 0.15s backwards;
    animation-delay: 0s;
    transition: transform 0.2s;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px grey;
}
.mobSideB li {
    display: block;
    color: #F0FFFF;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    top: 10px;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
}
.mobileNav {
    display: none;
    background: inherit;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    height: 30px;
    width: 240px;
    position: relative;
    top: 10px;
    left: 19%;
    border: 2px grey;
    border-radius: 12px;
}
.mobileNav li {
    float: left;
    margin-left: 10px;
}
.mobileNav a {
    display: block;
    color: #F0FFFF;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
}
.openBar {
    display: none;
    position: relative;
    bottom: 50px;
    margin-left: 20px;
}
.openBar button {
    background: url("/images/header.jpg");
    border: none;
    color: white;
}
.closeBar {
    z-index: 1000;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    display: none;
    position: relative;
    top: 0;
    left: 20px;
    background: cyan;
    border: 1px grey;
    border-radius: 40px;
}

.tabPhone {
    display: none;
    position: relative;
    top: -125px;
    left: 91%;
    width: 30px;
    height: 30px;
    background: url("/images/tPhone.png") no-repeat center center;
    border: 1px grey;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    justify-content: center;
}

.tabMail {
    display: none;
    position: relative;
    top: -110px;
    left: 91%;
    width: 30px;
    height: 30px;
    background: url("/images/tMail.png") no-repeat center center;
    border: 1px grey;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    justify-content: center;
}
.tabAdr {
    display: none;
    position: relative;
    top: -95px;
    left: 91%;
    width: 30px;
    height: 30px;
    background: url("/images/adr.png") no-repeat center center;
    border: 1px grey;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    justify-content: center;
}
.tabPhone a {
    text-decoration: none;
    color: black;
}
.tabMail a {
    text-decoration: none;
    color: black;
}
.tabAdr a {
    text-decoration: none;
    color: black;
}





/* --------------------------------------------------------------------------------------------------------------
Mobile adaptation
 */

@media (min-width: 330px) and (max-width: 700px){
    .cart-cart {
        width: 100%;
    }
    .mobSideB {
        top: 21%;
        left: 1%;
    }
    .mobileNav {
        display: block;
    }
    .sidebar {
        display: none;
    }
    .description {
        font-size: 12px;
        width: 100px;
        margin-left: 42%;
    }
    .alternative {
        width: 200px;

    }
    .alternative h1 {
        font-size: 30px;
    }
    .alternative button {
        width: 130px;
        font-size: 16px;
    }
    .minCart {
        width: 50px;
        height: 50px;
        left: 82%;
        top: 22%;
        background: url("/images/minCartmin.png") no-repeat center center;
    }
    .minCart p {
        position: relative;
        left: 35px;
        top: 25px;
        font-size: 12px;
        width: 15px;
    }

    .card {
        margin-top: 20px;
        margin-left: 8px;
        left: 20%;
        width: 135px;
        height: 220px;
    }
    .card p {
        width: 100%;
        height: 15px;
        font-size: 10px;
        padding-top: 0;

    }
    .card button {
        width: 50px;
        height: 20px;
        margin: -10px auto;
        font-size: 10px;
    }

    .linkA {
        font-size: 10px;
        left: 83%;
        top: 20%;
    }
    .cost {
        top: 25px;
    }
    .modal {
        top: 10%;
        height: 70%;
    }
    .modal-header button {
        left: 88%;
        cursor: pointer;
    }
    .modal-body button {
        left: 15%;
    }
    .closeBtn {
        width: 25px;
        left: 88%;
    }
    .openBar{
        display: block;
    }
    .table {
        font-size: 14px;
    }
    .total {
        left: 1%;
    }
    .modal-toggle {
        left: 20%;
        width: 250px;
    }


    #price {
        margin-top: 10%;
        width: 40px;
        height: 40px;
    }
    #price p {
        font-size: 10px;
    }

    #fb {
        display: none;
    }
    #fba {
        display: none;
    }
    #ihome {
        display: none;
    }
    #logo {
        display: none;
    }
    #clink {
        display: none;
    }
    #box {
        display: none;
    }
    #headerText {
        padding-top: 15px;
        font-size: 36px;
    }
    #ul1 {
        display: none;
    }

}

/*
-----------------------------------------------------------------------------------------------------------------------------
 */
@media (max-width: 330px) {
    .cart-cart {
        width: 100%;
    }
    .mobSideB {
        top: 28%;
        left: 1%;
    }
    .mobileNav {
        left: 15%;
        display: block;
    }
    .sidebar {
        display: none;
    }
    .description {
        font-size: 12px;
        width: 100px;
        margin-left: 42%;
    }
    .alternative {
        width: 200px;

    }
    .alternative h1 {
        font-size: 30px;
    }
    .alternative button {
        width: 130px;
        font-size: 16px;
    }
    .minCart {
        width: 50px;
        height: 50px;
        left: 82%;
        top: 22%;
        background: url("/images/minCartmin.png") no-repeat center center;
    }
    .minCart p {
        position: relative;
        left: 35px;
        top: 25px;
        font-size: 12px;
        width: 15px;
    }

    .card {
        margin-top: 20px;
        margin-left: 8px;
        left: 20%;
        width: 135px;
        height: 220px;
    }
    .card p {
        width: 100%;
        height: 15px;
        font-size: 10px;
        padding-top: 0;

    }
    .card button {
        width: 50px;
        height: 20px;
        margin: -10px auto;
        font-size: 10px;
    }

    .linkA {
        font-size: 10px;
        left: 83%;
        top: 20%;
    }
    .cost {
        top: 25px;
    }
    .modal {
        top: 10%;
        height: 90%;
    }
    .modal-header button {
        left: 88%;
        cursor: pointer;
    }
    .modal-body button {
        left: 15%;
    }
    .closeBtn {
        bottom: 20px;
        width: 25px;
        left: 88%;
    }
    .openBar{
        bottom: 55px;
        display: block;
    }
    .table {
        font-size: 14px;
    }
    .total {
        left: 1%;
    }
    .modal-toggle {
        left: 20%;
        width: 250px;
    }


    #price {
        margin-top: 10%;
        width: 40px;
        height: 40px;
    }
    #price p {
        font-size: 10px;
    }

    #fb {
        display: none;
    }
    #fba {
        display: none;
    }
    #ihome {
        display: none;
    }
    #logo {
        display: none;
    }
    #clink {
        display: none;
    }
    #box {
        display: none;
    }
    #headerText {
        padding-top: 15px;
        font-size: 30px;
    }
    #ul1 {
        display: none;
    }

}
/*
-----------------------------------------------------------------------------------------------------------------------------------------
 */
@media (min-width: 768px) and (max-width: 1020px){
    .total {
        left: 2%;
    }
    .modal-toggle {
        left: 35%;
    }
    .send-email {
        left: 35%;
    }
    .modal {
        height: 65%;
    }
    #headerText {
        font-size: 56px;

    }
    #logo {
        width: 100px;
        height: 75px;
    }
    ul.slides {
        width: 560px;
        height: 400px;
    }
    .center {
        font-size: 46px;
    }
    .tabPhone {
        display: block;
    }
    .tabAdr {
        display: block;
    }
    .tabMail {
        display: block;
    }
    #miniText {
        font-size: 28px;
    }
    #textAbout {
        font-size: 16px;
        height: 600px;
    }
    #ul1 {
        margin-left: 30%;
        margin-top: 15px;
    }
    #fb {
        display: none;
    }
    #fba {
        display: none;
    }
    #ihome {
        display: none;
    }
    #logo {
        display: none;
    }
    #clink {
        display: none;
    }
    #box {
        display: none;
    }
}
/*
---------------------------------------------------------------------------------------------------------------
 */
@media (min-width: 1024px) and (max-width: 1080px){
    .total {
        left: 2%;
    }
    .modal-toggle {
        left: 35%;
    }
    .send-email {
        left: 35%;
    }
    .modal {
        height: 45%;
    }
    #headerText {
        font-size: 72px;

    }
    #logo {
        width: 100px;
        height: 75px;
    }

    .center {
        font-size: 46px;
    }
    .tabPhone {
        display: block;
        top: -140px;
    }
    .tabAdr {
        display: block;
        top: -110px;
    }
    .tabMail {
        display: block;
        top: -125px;
    }
    #miniText {
        font-size: 28px;
    }
    #textAbout {
        font-size: 16px;
        height: 600px;
    }
    #ul1 {
        margin-left: 35%;
        margin-top: 5px;
    }
    #fb {
        display: none;
    }
    #fba {
        display: none;
    }
    #ihome {
        display: none;
    }
    #logo {
        display: none;
    }
    #clink {
        display: none;
    }
    #box {
        display: none;
    }
}
/*
----------------------------------------------------------------------------------------------------------------------
 */
@media (min-width: 1920px) {
    .table {
        font-size: 22px;
    }
    .modal {
        height: 65%;
        font-size: 24px;
    }
    .modal-toggle {
        left: 42%;
    }
    .send-email {
        left: 42%;
    }
    #headerText {
        font-size: 76px;
    }
    #ul1 {
        margin-left: 42%;
        margin-top: -8px;
    }
    #box {
        margin-top: -7%;
        margin-left: 85%;
    }
    #logo {
        margin-top: -4%;
    }
    input[type=text] {
        font-size: 24px;
    }
    select {
        font-size: 24px;
    }
    label {
        font-size: 24px;
    }

}
/*
--------------------------------------------------------------------------------------------------------------------
 */
@media (min-width: 1500px) and (max-width: 1900px){
    .table {
        font-size: 22px;
    }
    .modal {
        height: 65%;
        font-size: 24px;
    }
    .modal-toggle {
        left: 42%;
    }
    .send-email {
        left: 42%;
    }
    #headerText {
        font-size: 76px;
    }
    #ul1 {
        margin-left: 42%;
        margin-top: -13px;
    }
    #box {
        margin-top: -8%;
        margin-left: 85%;
    }
    #logo {
        margin-top: -5%;
    }
    input[type=text] {
        font-size: 24px;
    }
    select {
        font-size: 24px;
    }
    label {
        font-size: 24px;
    }

}
/*
--------------------------------------------------------------------------------------------------------------------
 */
@media (min-width: 1400px) and (max-width: 1500px){
    .table {
        font-size: 22px;
    }
    .modal {
        height: 65%;
        font-size: 24px;
    }
    .modal-toggle {
        left: 40%;
    }
    .send-email {
        left: 41%;
    }
    #headerText {
        font-size: 76px;
    }
    #ul1 {
        margin-left: 40%;
        margin-top: -8px;
    }
    #box {
        margin-top: -9%;
        margin-left: 85%;
    }
    #logo {
        margin-top: -6%;
    }
    input[type=text] {
        font-size: 24px;
    }
    select {
        font-size: 24px;
    }
    label {
        font-size: 24px;
    }

}









